@import url(https://fonts.googleapis.com/css2?family=Athiti:wght@100;200;300;400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 20px 10%;
  font-family: "Athiti", sans-serif;
  background-color: #f4f4f4;
}

#root {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pagination button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}